:root {
    --back-color: var(--main-light-blue);
    --main-light-color: var(--main-dark-blue);
    --main-bright-color: var(--main-bright-blue);
    --main-bright-color-light: var(--main-dark-blue);
    --main-dark-color: var(--main-bright-blue);
}

body, #game {
    padding: 2% 5% 3%;
}

.container {
    width: 25%;
    margin: 0px 0px 20px;
}

.card-block {
    position: relative;
    min-width: 200px;
    width: 45%;
    min-height: 200px;
    height: 200px;
    margin: 0px 10px;
    box-sizing: border-box;
}

#finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    width: 70vw;
    max-width: 900px;
    min-height: 100px;
    height: 45vw;
    max-height: 600px;
    color: var(--main-orange);
    position: relative;
}
#finish.hidden {
    display: none;
}

#finish h3 {
    color: var(--main-yellow);
}

.finish-text {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
}

.finish-text a {
    color: var(--main-yellow);
    font-weight: bold;
}
.finish-text a:visited {
    color: var(--main-yellow);
}

.front {
    opacity: 1;
}

.back {
    z-index: -10;
    opacity: 0;
}

.lock.open {
    transform: translateY(-200px);
    opacity: 0;
}

@media (max-width: 1024px) {
    .finish-text {
        width: 70%;
        left: 15%;
    }
    .finish-text h3 { font-size: x-large; }
    .finish-text p { font-size: medium; }
    .card-block { height: 150px; }
    .main-cont {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container {
        width: 50%;
        min-width: 340px;
        box-sizing: border-box;
    }
}

@media (max-width: 800px) {
    .finish-text h3 { font-size: medium; }
    .finish-text p { font-size: x-small; }
}