:root {
    --back-color: var(--main-light-blue);
    --main-light-color: var(--main-dark-blue);
    --main-bright-color: var(--main-bright-blue);
    --main-bright-color-light: var(--main-dark-blue);
    --main-dark-color: var(--main-bright-blue);
}

body, #game {
    padding: 2% 5% 3%;
}

.container {
    width: 25%;
    margin: 0px 0px 20px;
}

.card-block {
    position: relative;
    min-width: 200px;
    width: 45%;
    /* max-width: 10vw; */
    min-height: 200px;
    height: 22vh;
    margin: 5px;
}

.card-block-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: var(--border-radius);
    transition-duration: 0.7s;
}

#finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    width: 70vw;
    max-width: 900px;
    min-height: 100px;
    height: 45vw;
    max-height: 600px;
    color: var(--main-orange);
    position: relative;
}
#finish.hidden {
    display: none;
}

#finish h3 {
    color: var(--main-yellow);
}

.finish-text {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
}

.finish-text a {
    color: var(--main-yellow);
    font-weight: bold;
}
.finish-text a:visited {
    color: var(--main-yellow);
}

.front {
    opacity: 1;
}

.back {
    z-index: -10;
    opacity: 0;
}

.lock.open {
    transform: translateY(-200px);
    opacity: 0;
}

@media (max-width: 1024px) {
    .finish-text {
        width: 70%;
        left: 15%;
        font-size: medium;
    }
    /* .card-block {
        height: auto;
    } */
}