:root {
    --back-color: var(--main-light-green);
    --main-light-color: var(--main-yellow);
    --main-bright-color: var(--main-orange);
    --main-bright-color-light: var(--main-light-orange);
    --main-dark-color: var(--main-dark-green);
}

.card-block {
    position: relative;
    min-width: 200px;
    width: 20%;
    min-height: 200px;
    height: 20vw;
    margin: 0px 5px;
    transform-style: preserve-3d;
}

#finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    width: 40vw;
    max-width: 650px;
    min-height: 300px;
    height: 40vw;
    max-height: 650px;
    color: var(--main-bright-color);
    position: relative;
}
#finish.hidden {
    display: none;
}

#finish h3 {
    color: var(--main-dark-color);
}

.finish-text {
    position: absolute;
    top: -20px;
    left: 15%;
    width: 70%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
}

.finish-text a {
    color: var(--main-dark-color);
    font-weight: bold;
}
.finish-text a:visited {
    color: var(--main-dark-color);
}
.finish-text p {
    width: 90%;
}

.front {
    transform: rotateY(0.5turn);
}

.back {
    z-index: -10;
    transform: rotateY(0.5turn);
}

.front.open {
    transform: rotateY(0turn);
    opacity: 0;
}
.back.open {
    transform: rotateY(0turn);
}

@media (max-width: 1024px) {
    .finish-text {
        width: 60%;
        left: 20%;
    }
    .finish-text h3 { font-size: medium; }
    .finish-text p { font-size: x-small; }
    .container {
        flex-wrap: wrap;
    }
    .card-block {
        margin: 5px;
    }
}